ENV=local

HOST=localhost
PORT=8080
HTTPS=false

MAIN_DB_CONNECTION_STR=postgres://postgres:postgres@localhost:5441/go-boiler-main-db?sslmode=disable

FIRST_USER_EMAIL=go-boiler@admin.com
FIRST_USER_PASSWORD=qwerty

SWAGGER_PATH_PREFIX=$PWD/http

JWT_SECRET=secret
JWT_EXPIRE_IN_SECONDS=10000

RMQ_CONNECTION_STRING="amqp://go-boiler-user:go-boiler-password@localhost:56782/go-boiler"